BODY {
	background-color: #58ACFA;	
}

TD { 
	color: #F2F5A9;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border-bottom: 1px solid #5b2721;
}

TABLE { 
	border: 2px solid #0404B4;
}

TH { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;  
	font-weight: bold;  
	font-style: italic;
	color: #F2F5A9;
	background-color: #5b2721;
  background: url("/images/ServerAdsKF-bg.gif");
}

INPUT.text {
	color: #BCF5A9;
	background-color: #0B3B17;
	border: 1px solid #927439;
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	width: 100%;
}

INPUT.text:Focus {
	background-color: #298A08;
}
TEXTAREA {
	color: #BCF5A9;
	background-color: #0B3B17;
	border: 1px solid #927439;
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	width: 100%;
}

TEXTAREA:Focus {
	background-color: #298A08;
}

INPUT.button {
	color: #BCF5A9;
	background-color: #0B3B17;
	border-color: #431d18;
}

INPUT.button:Hover {
	background-color: #0B610B;
}

SELECT {
	color: #BCF5A9;
	background-color: #0B3B17;
	border: 1px solid #927439;
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	width: 100%;
}

SELECT:Focus {
	background-color: #0B3B17;
}

A {
	color: #D0FA58;
}
